body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;
		flex-wrap: wrap;
}

.gallery img {
    width: 200px; /* Cambiar el tamaño de las imágenes */
    height: 200px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s, transform 0.3s, box-shadow 0.3s;
}

.gallery img.selected {
    /*	border-color: blue; /* Cambia el borde de las imágenes seleccionadas */
    transform: scale(1.1); /* Agranda ligeramente la imagen seleccionada */
    box-shadow: 0 4px 15px rgba(0, 0, 255, 0.5); /* Agrega sombra alrededor de la imagen seleccionada */
}

#result {
    margin-top: 20px;
    font-size: 1.5rem; /* Hacer el texto de la suma más grande */
}

button {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
}

button:hover {
    background-color: #45a049; /* Color de fondo al pasar el ratón */
}

button:active {
    transform: scale(0.95); /* Efecto de "presionar" el botón */
}
